In [1]:
import requests
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [ ]:
# create list of all yyyy-mm for data download (Note, May 2015 is the first month ND data is available in xlxs)
myList = pd.date_range('2022-04-10',datetime.today()- relativedelta(months=11), freq='MS').strftime("%Y_%m").tolist()  # with month in numeric format

# Access the ND DMR data @ https://www.dmr.nd.gov/oilgas/mprindex.asp
website = "https://www.dmr.nd.gov/oilgas/mpr/"

In [ ]:
#myList

In [ ]:
NDMWD = []  #list()  # North Dakota Monthly Well Data
for month in myList:
    target_url = website + month + '.xlsx'
    print(target_url)
    r = requests.get(target_url)
    wb = pd.read_excel(r.content)
    NDMWD.append(wb)

NDMWD = pd.concat(NDMWD)

https://www.dmr.nd.gov/oilgas/mpr/2022_05.xlsx
https://www.dmr.nd.gov/oilgas/mpr/2022_06.xlsx
https://www.dmr.nd.gov/oilgas/mpr/2022_07.xlsx
https://www.dmr.nd.gov/oilgas/mpr/2022_08.xlsx
https://www.dmr.nd.gov/oilgas/mpr/2022_09.xlsx

In [ ]:
#Create ND monthly well data table in csv format, which can be downloaded from folder on left hand side
NDMWD.to_csv('NDMWD.csv', index=False)

In [ ]:
NDMWD.tail()

,ReportDate,API_WELLNO,FileNo,Company,WellName,Quarter,Section,Township,Range,County,...,Pool,Oil,Wtr,Days,Runs,Gas,GasSold,Flared,Lat,Long
19548,2022-09-01,33089003290000,10752,"NEW MILLENNIUM RESOURCES, INC.",POLANCHEK 8-34,SENE,34,140,99,STK,...,TYLER A,528.0,3569.0,30.0,618,30.0,0,0.0,46.899267,-103.152135
19549,2022-09-01,33009005030000,2507,EMPIRE NORTH DAKOTA LLC,OBERT LINSTAD 1,SESE,22,163,79,BOT,...,SPEARFISH/MADISON,0.0,0.0,0.0,0,0.0,0,0.0,48.924446,-100.887483
19550,2022-09-01,33009012640000,6347,EMPIRE NORTH DAKOTA LLC,RICE 2,SENW,26,163,79,BOT,...,SPEARFISH/MADISON,26.0,301.0,30.0,39,0.0,0,0.0,48.917191,-100.876462
19551,2022-09-01,33009011910000,5815,EMPIRE NORTH DAKOTA LLC,RICE 23-12,NWSW,23,163,79,BOT,...,SPEARFISH/MADISON,0.0,0.0,0.0,12,0.0,0,0.0,48.928322,-100.881995
19552,2022-09-01,33009019570000,13685,EMPIRE NORTH DAKOTA LLC,RICE 3,NENW,26,163,79,BOT,...,SPEARFISH/MADISON,46.0,5979.0,28.0,73,0.0,0,0.0,48.920808,-100.877109

# **Extract first month oil and gas produciton**

In [3]:
NDMWD = pd.read_csv('NDMWD.csv')
NDMWD = NDMWD[NDMWD['Days'] >= 25]
NDMWD['ReportDate'] = pd.to_datetime(NDMWD['ReportDate'], errors = 'coerce')
NDMWD.head(2)

,ReportDate,API_WELLNO,FileNo,Company,WellName,Quarter,Section,Township,Range,County,...,Pool,Oil,Wtr,Days,Runs,Gas,GasSold,Flared,Lat,Long
0,2022-05-01,33053039010000,22023,"GRAYSON MILL OPERATING, LLC",BILL 14-23 1H,SWSW,11,151,101,MCK,...,BAKKEN,651.0,1249.0,31.0,671,4385.0,4169,180.0,47.907508,-103.580354
1,2022-05-01,33053038990000,22021,"GRAYSON MILL OPERATING, LLC",BILL 14-23 2TFH,SWSW,11,151,101,MCK,...,BAKKEN,808.0,1502.0,31.0,825,1202.0,1065,89.0,47.907450,-103.580411

In [21]:
ffmWells = NDMWD[['API_WELLNO', 'Pool','ReportDate']].groupby('API_WELLNO').min().rename(columns={'ReportDate':'ffMonth'}).reset_index()
ffmWells.tail(3)

           API_WELLNO    Pool    ffMonth
17551  33105056680000  BAKKEN 2022-05-01
17552  33105056760000  BAKKEN 2022-09-01
17553  33105056780000  BAKKEN 2022-09-01

In [22]:
ffmWells = ffmWells.merge(NDMWD[['API_WELLNO','Pool','ReportDate','Oil','Gas','Wtr','Days','Runs', 'Lat', 'Long']], how='left', left_on=['API_WELLNO','Pool','ffMonth'], right_on = ['API_WELLNO','Pool','ReportDate'])
ffmWells.head()

,API_WELLNO,Pool,ffMonth,ReportDate,Oil,Gas,Wtr,Days,Runs,Lat,Long
0,33007000140000,HEATH,2022-05-01,2022-05-01,186.0,39.0,452.0,31.0,158.0,46.859720,-103.302546
1,33007000400000,MADISON,2022-05-01,2022-05-01,495.0,106.0,1146.0,31.0,482.0,46.874435,-103.418694
2,33007000520000,HEATH,2022-05-01,2022-05-01,787.0,168.0,39142.0,29.0,776.0,46.881266,-103.376781
3,33007000610000,HEATH,2022-07-01,2022-07-01,114.0,7.0,2552.0,31.0,115.0,46.857710,-103.423840
4,33007000620000,MADISON,2022-05-01,2022-05-01,478.0,0.0,24261.0,31.0,466.0,46.862481,-103.506958

In [23]:
ffmWells.drop('ReportDate', axis=1, inplace=True )
ffmWells['bpd'] =  ffmWells.Oil/ffmWells.Days
ffmWells['Mcfpd'] =  ffmWells.Gas/ffmWells.Days

In [24]:
ffmWells.head()

,API_WELLNO,Pool,ffMonth,Oil,Gas,Wtr,Days,Runs,Lat,Long,bpd,Mcfpd
0,33007000140000,HEATH,2022-05-01,186.0,39.0,452.0,31.0,158.0,46.859720,-103.302546,6.000000,1.258065
1,33007000400000,MADISON,2022-05-01,495.0,106.0,1146.0,31.0,482.0,46.874435,-103.418694,15.967742,3.419355
2,33007000520000,HEATH,2022-05-01,787.0,168.0,39142.0,29.0,776.0,46.881266,-103.376781,27.137931,5.793103
3,33007000610000,HEATH,2022-07-01,114.0,7.0,2552.0,31.0,115.0,46.857710,-103.423840,3.677419,0.225806
4,33007000620000,MADISON,2022-05-01,478.0,0.0,24261.0,31.0,466.0,46.862481,-103.506958,15.419355,0.000000

In [25]:
ffmWells.to_csv('ffmWells.csv', index=False)